<% @page_title = "About this site." %>

<h1><%= @page_title %></h1>

<p>Our site opened since 1999. We provided many new applications and new original goods.
   We will provide more better goods for your life and worldwide's people.</p>
   
