<%= 5.times do |x| %>
<h2>Title</h2>
<p>We will add main contents to this area. We will add main contents to this area.We will add main contents to this area.
<%= link_to "more detailed information" , "#" %> </p>
<% end %>
