<%= render "shared/login_form" %>

<h2>Latest News</h2>
<ul>
  <% 5.times do |i| %>
  <li><%= link_to "Headline of News", "#" %> </li>
  <% end %>
</ul>

<h2>Member's Blog</h2>
<ul>
  <% 5.times do |i| %>
  <li><%= link_to "Headline of Blog", "#" %> </li>
  <% end %>
</ul>
